/* Hero section */
.hero__section__markham {
    height: auto;
    /* background-image: url("/assets/poolInstallationCompanyInMarkham/hero-section.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
  }
  
  .hero__right__markham {
    width: 50%;
    height : 100%;
  }
  
  .hero__right__markham .hero-main-image {
    width: 100%;
    object-fit: cover;
  }
  
  .hero_btn {
    background: #9C7066;
  }
  