/* Hero section */
.hero-section {
  /* width: 100%;
  height: auto;
  background-image: url("/assets/roofing_contractor/hero_section.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  background: #F2FCFF;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.hero-right {
  width: 50%;
}

.hero-right .hero-main-image {
  width: 100%;
  object-fit: cover;
}

.btn_bg{
  border-radius: 6px;
  border: 1.5px solid #1F1D20;
}