.input__bg {
  border-radius: 8px;
  border: 1px solid rgba(31, 41, 55, 0.2);
  background: #fff;
}

.button__bg_color {
  border-radius: 8px;
  border: 1px solid #905d4c;
  background: rgba(61, 68, 81, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: rgba(31, 41, 55, 0.2);
}
.robot__bg {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background: #f9f9f9;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}
