/* large device  */
.banner__bg{
    background-image: url("/assets/glitz/flooring-installation/lg_hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
/* small device  */
.small__banner__bg{
    background-image: url("/assets/glitz/flooring-installation/sm_hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.btn_bg{
    border-radius: 99px;
    background: #005799;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
}