.contact__cart__bg{
    border-radius: 10px;
    background: #6B521A;
}

.input__bg{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lg_contact__us__bg{
    background-image: url("/assets/glitz/newHomePage/contact__us__bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.sm_contact__us__bg{
    background-image: url("/assets/glitz/newHomePage/sm_contact_us_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.contact_form__submit{
    border-radius: 99px;
    background: #005799;
}